.count-down-wrapper{
  background-color: #fff;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  border: 1px solid pink;
  text-align: center;
  font-size: 14px;
  color: pink;
  &:hover{
    cursor: pointer;
  }
  &.disabled{
    border: 1px solid #666;
    color: #666;
  }
}
