@import "../style/base";
#root{
  background-color: #ccc;
  margin: 0 auto;
  .app-wrapper{
    padding: 20px;
  }
  .phone-input{
    display : inline-block;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #333;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
